img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #E1E1E1;
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  overflow-x: scroll;
}

.ui.image {
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.amazon-widget {
  margin: 2rem 0;
  max-width: 480px;
  position: relative;
}
.amazon-widget a {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
.amazon-widget-img {
  border: 1px solid #E1E8ED;
  border-radius: 15px 15px 0 0;
  text-align: center;
}
.amazon-widget-img img {
  border: none;
  margin: 0 auto;
  max-height: 200px;
  padding: 16px;
}
.amazon-widget-info {
  border-right: 1px solid #E1E8ED;
  border-bottom: 1px solid #E1E8ED;
  border-left: 1px solid #E1E8ED;
  padding:5px 10px 10px 10px;
  border-radius:0 0 15px 15px;
}
.amazon-widget:hover .amazon-widget-info {
  background-color: #E1E8ED;
}
.amazon-widget-title {
  font-weight: bold;
  display:block;
}
.amazon-widget-via {
  color: #aaa;
}
.amazon-widget-via img {
  border: none;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: text-bottom;
}

